/* CHARTS */
#myDynamicChart {
    max-width: 1000px;
    margin: auto;
}
#myTotalChart {
    max-width: 1000px;
    margin: auto;
}

#myBondChart {
    max-width: 500px;
}

#myCryptoChart {
    max-width: 500px;
}

#myStockChart {
    max-width: 1000px;
}

.default-chart-size {
    max-height: 1000px;
    max-width: 1000px;
}

.industry-chart {
    max-width: 500px;
}

/** FORMS */
.text-input{
    max-width: 250px;
}

.numeric-input{
    max-width: 100px;
}

.date-input{
    max-width: 150px;
}

.ticker-input{
    max-width: 100px;
}
.flex{
    display: flex;
}

/* OTHERS*/
.href_style{
    text-decoration: none;
    color: black;
}
.href_style:hover {
    border-bottom: 2px blue;
}
/* WIDTH */
.max-width-300 {
    width: 300px;
}
.max-width-100 {
    width: 100px;
}

.width-300 {
    width: 300px;
}
.width-100 {
    width: 100px;
}
.width-10 {
    width: 10px;
}

